# Material de la materia (no forma parte de la aplicación web)
*.docx
*.doc
*.pdf
*.pptx
*.xlsx

# Archivos del sistema
Thumbs.db
desktop.ini
.DS_Store

# Editores
.vscode/
.idea/

# Dependencias (por si más adelante se agregan)
node_modules/
